<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Webpack Training!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus molestias officia, explicabo deleniti corrupti dolorum, fuga earum omnis labore ratione fugiat enim nostrum at! Nulla ullam alias explicabo voluptates voluptate.</p>
</body>
</html>